<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="../../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>
  <link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout.html">
  <link rel="import" href="../../../bower_components/iron-flex-layout/classes/iron-flex-layout.html">

  <style>
    .container {
      margin: 10px;
      padding: 5px;
      background-color: lightgray;
    }
    .item {
      background-color: white;
      margin: 5px;
      padding: 10px;
    }
  </style>
</head>
<body class="fullbleed layout vertical">
  <!-- このコンテナは子エレメントを持つ -->
  <div class="layout vertical container">
    <div class="item">One</div>
  </div>
  <!-- このコンテナは子エレメントを持たない -->
  <div class="layout vertical container"></div>
  <!-- このコンテナは子エレメント持ち、高さが指定されている -->
  <div class="layout vertical container" style="height: 150px;">
    <div class="item">One</div>
  </div>
</body>
</html>
